
<h1><%= data%></h1>

<br>
<br>
<br>
<% var i =0;
var data = data.JSON.parse(data)
   for(i=0; i < data.length ; i++)
   {
       %>
       <br>
       <h1><%= data[i]%></h1>
       <br>
       <%
   }
%>
<br>
<br>
<form method="POST" action="/reply">
    REPLY : <input  type="text" name="reply">
    <br>
    <br>
    <input type="submit" name="send" value="send">
</form>